.section5 {
  height: auto;
  background-color: #545454;
  text-align: center;
}

.section5 img {
object-fit: cover;
height: 35vh;
width: 35vh;
margin: 20px;
}

.section5 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: white;
}

.rounded div img {
  width: 35vh; /* largeur de l'image */
  height: auto; /* hauteur de l'image */
  -webkit-transition: .3s ease-in-out !important;
  transition: .3s ease-in-out !important;
}
.rounded div:hover img:hover {
  width: 35vh; /* on affiche l'image au carré */
  height: auto;
  border-radius: 60px;
}

.button {
  border-radius: 40px;
  color: white;
  margin: 50px;
  padding: 20px;
  float: right;
  background-color: #24b08b;
  -webkit-animation-name: color-changing;
  -webkit-animation-duration: 4s;
  animation-name: color-changing;
  animation-duration: 5s;
}

button:hover {
  -webkit-animation-name: color-changing;
  -webkit-animation-duration: 4s;
  animation-name: color-changing;
  animation-duration: 5s;
}

@-webkit-keyframes color-changing {
  from {background-color: #24b08b;}
  to {background-color: #efbf13;}
}

@keyframes color-changing {
  from {background-color: #24b08b;}
  to {background-color: #efbf13;}
}
