.section5 {
  height: 900px;
  background-color: #545454;
  text-align: center;
}

.section5 img {
object-fit: cover;
height: 35vh;
width: 35vh;
margin: 20px;
}

div.apes_transform1 {
  transform: rotate(20deg);
  padding-top: 20px;
}

div.apes_transform2 {
  transform: skewY(20deg);
}

div.apes_transform3 {
    transform: rotate(20deg);
}
